.homepage-out{
    background-image: url('https://images.unsplash.com/photo-1486556396467-d83d2b23514b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');

}

.landing-div{
    width: 550px;
    height: 150px;
    .btn-primary-outline {
        background-color: transparent;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        color: white;
        &:hover{
            background-color: rgba(246, 244, 244, 0.372);
            color: black;
        }
      }
}
